{% extends "forms-basic.html" %}

{% block title %} PDS {% endblock %}

{% block form %}
    
<div class="container my-5">
    <div class="row">
        <div class="col">
            <section class="card">
                <header class="card-header">
                    <div class="card-actions">
                        <a href="#" class="card-action card-action-toggle" data-card-toggle=""></a>
                        <a href="#" class="card-action card-action-dismiss" data-card-dismiss=""></a>
                    </div>

                    <h2 class="card-title">Create Person</h2>
                </header>
                <div class="card-body">
                    <form action="{{ url_for('add_person') }}" method="POST">
                        <div class="row mb-3">
                            <div class="col-lg-6" class="form-control">
                                <input type="text" placeholder=".col-lg-6" class="form-control" name="person_name" id="person_name">
                            </div>
                            <div class="col-lg-6" class="form-control">
                                <input type="text" placeholder=".col-lg-6" class="form-control" name="person_age" id="person_age">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <button class="btn btn-primary" type="submit">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>

    <!-- Family Background -->
    <div class="row">
        <div class="col">
            <section class="card">
                <header class="card-header">
                    <div class="card-actions">
                        <a href="#" class="card-action card-action-toggle" data-card-toggle=""></a>
                        <a href="#" class="card-action card-action-dismiss" data-card-dismiss=""></a>
                    </div>

                    <h2 class="card-title">People</h2>
                </header>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <th class="col-6">id</th>
                            <th>name</th>
                            <th>age</th>
                            <th>controls</th>
                        </thead>
                        <tbody>
                            {% for person in people %}
                            <tr>
                                <td>{{ person.index }}</td>
                                <td> {{ person.name }} </td>
                                <td> {{ person.age }} </td>
                                <td>
                                    <a href="{{ url_for('edit_person', node_id=person.id) }}" class="btn btn-success">Edit</a>                                   
                                    <form action="{{ url_for('delete_person', node_id=person.id) }}" method="POST">
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>

   

    <div class="row">
        <div class="col">
            <section class="card">
                <header class="card-header">
                    <div class="card-actions">
                        <a href="#" class="card-action card-action-toggle" data-card-toggle=""></a>
                        <a href="#" class="card-action card-action-dismiss" data-card-dismiss=""></a>
                    </div>

                    <h2 class="card-title">Create Relationship</h2>
                </header>
                <div class="card-body">
                    <form action="{{ url_for('create_relationship') }}" method="POST">
                        <div class="row mb-3">
                            <div class="col-lg-4" class="form-control">
                                <select class="form-select" aria-label="Default select example"  name="first_node" id="first_node"> 
                                    <option selected>Open this select menu</option>
                                    {% for person in people %}    
                                        <option value="{{ person.name }}">{{ person.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            
                            <div class="col-lg-4" class="form-control">
                                <input type="text" placeholder="Relationship" class="form-control" name="relationship" id="relationship">
                            </div>

                            <div class="col-lg-4" class="form-control">
                                <select class="form-select" aria-label="Default select example"  name="second_node" id="second_node">
                                    <option selected>Open this select menu</option>
                                    {% for person in people %}    
                                        <option value="{{ person.name }}">{{ person.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <button class="btn btn-primary" type="submit">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>


</div>

{% endblock %}